    </div>
    <footer class="footer">
        <div class="basic_width">
            <div class="footer__top">
                <ul class="footer___nav clearfix_">
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">каталог</a>
                    </li>
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">услуги и сервис</a>
                    </li>
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">оптовым клиентам</a>
                    </li>
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">вопрос-ответ</a>
                    </li>
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">отзывы</a>
                    </li>
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">акции</a>
                    </li>
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">новости</a>
                    </li>
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">статьи</a>
                    </li>
                    <li class="footer___nav-item">
                        <a href="" class="footer___nav-link">покупателям</a>
                    </li>
                </ul>
            </div>
            <div class="footer__middle clearfix_">
                <div class="footer__payment">
                    <div class="fl_l">
                        <div class="footer__middle-title">
                            Оплата
                        </div>
                        <div class="flex_row">
                            <div class="footer__payment-img-wrap">
                                <img src="assets/images/visa.png" alt="" />
                            </div>
                            <div class="footer__payment-img-wrap">
                                <img src="assets/images/webm.png" alt="" />
                            </div>
                            <div class="footer__payment-img-wrap">
                                <img src="assets/images/paypal.png" alt="" />
                            </div>
                            <div class="footer__payment-img-wrap">
                                <img src="assets/images/easypay.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__social">
                    <div class="fl_r mobile-fl_n">
                        <div class="footer__middle-title footer__social_title">
                            мы в социальных сетях
                        </div>
                        <div class="flex_row">
                            <a href="" class="footer__social-link">
                                <i class="fa fa-vk" aria-hidden="true"></i>
                            </a>
                            <a href="" class="footer__social-link">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="" class="footer__social-link">
                                <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                            </a>
                            <a href="" class="footer__social-link">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="" class="footer__social-link">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom flex_row">
                <div class="copyright">
                    Copyright 2015 | Все права защищены
                </div>
                <div class="webcompany">
                    <a target="_blank" href="http://webcompany.by/">
                        <span>Разработка сайта</span>
                        <img src="assets/images/webco.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div class="user-panel">
        <div class="user-panel__wrap basic_width clearfix_">
            <div class="user-panel__cta">
                <a href="" class="user-panel__btn user-panel_blue-btn user-panel__btn_cta">
                    <span class="user-panel__btn-text">Перезвоните мне</span>
                </a>
            </div>
            <div class="user-panel__to-top"></div>
            <div class="user-panel__btns flex_row">
                <a href="" class="user-panel__btn user-panel_blue-btn user-panel__btn_compare">
                    <span class="user-panel__btn-text">Сравнение</span>
                    <span class="count">100</span>
                </a>
                <a href="" class="user-panel__btn user-panel_blue-btn user-panel__btn_favorite">
                    <span class="user-panel__btn-text">Избранное</span>
                    <span class="count">100</span>
                </a>
                <a href="" class="user-panel__btn user-panel_gray-btn user-panel__btn_cart">
                    <span class="user-panel__btn-text">Избранное</span>
                    <span class="count">100</span>
                </a>
                <a href="" class="user-panel__btn user-panel_gray-btn user-panel__btn_total">
                    <span class="user-panel__btn-text">Сумма</span>
                    <span class="total">100 руб.</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/libs.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
