/* - - - - - - - - - - - - - desktop - - - - - - - - - - - -*/
.accordion__phone, .logo-mobile, .main__nav-el-mobile, .nav__mobile-block,
.links__mobile, .desktop-none {
    display: none;
}

/* - - - - - - - - - - - - - global - - - - - - - - - - - -*/
@media all and (max-width: 320px) {
.basic_width {
    max-width: 280px;
    width: 280px;
}

.wrapper {
    min-width: 320px;
}

.flex_mobile_column {
    flex-direction: column;
}

.mobile-fl_r {
    float: right;
}

.mobile-fl_e {
    align-items: flex-end;
}

.mobile-fl_l {
    float: left;
}

.mobile-fl_n {
    float: none;
}

.accordion__phone, .logo-mobile, .desktop-none {
    display: block;
}

.mobile-none {
    display: none;
}

.block {
    padding-bottom: 42px;
}

/* - - - - - - - - - - - - - header - - - - - - - - - - - -*/
.header__top {
    display: none;
}

.logo__wrap {
    display: none;
}

.logo-mobile {
    display: block;
    margin: 0 auto;
    padding-right: 5px;
}

.header__middle {
    padding-top: 13px;
    padding-bottom: 11px;
}

.header__phone {
    display: none;
}

.header__phones {
    background-image: none;
    margin: 0;
    padding-left: 17px;
}

.header__phone-mobile {
    margin-bottom: 4px;
    display: inline-block;
    font-size: 1rem;
    font-family: OpenSans-Bold;
    color: #000;
}

.header__work-time {
    display: none;
}

.header__cart {
    display: none;
}

.accordion__phone {
    padding-left: 54px;
}

.accordion__phone label {
    position: relative;
}

.accordion__phone label:before {
    position: absolute;
    content: "";
    background: url("../images/select-drop-arrow.png") 50% 50% no-repeat;
    width: 11px;
    height: 16px;
    right: 50px;
    color: #000;
    font-size: 16px;
    line-height: 10px;
}

.accordion__phone > :not(input):not(label) {
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: .5s;
}

.accordion__phone > label {
    overflow: hidden;
    display: block;
    cursor: pointer;
}

.accordion__phone > :checked + label + div {
    overflow: hidden;
    height: 60px;
}

.accordion__phone > :checked + label:before {
    transform: rotate(180deg);
}

/* - - - - - - - - - - - - - nav - - - - - - - - - - - -*/
.search__form {
    display: none;
}

.main__nav-el-has-subnav {
    width: 34px;
    margin-left: 2px;
}

.main__nav-el-has-subnav, .nav__burger {
    height: 48px;
    background-color: transparent;
}

.main__nav-el:not(.main__nav-el-has-subnav) {
    display: none;
}

.main-slider__el .slider__img {
    display: none;
}

.main__nav-el-mobile {
    display: block;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
}

.main__nav-link-mobile {
    display: block;
    padding: 0 9px;
    text-transform: uppercase;
}

.main__nav-link-item {
    margin-left: 18px;
    padding-top: 8px;
    height: 48px;
}

.nav__cart-icon {
    height: 48px;
    width: 40px;
    position: relative;
    background: url(../images/header-cart.png) 45% 25% no-repeat;
    background-size: 70%;
}

.nav__cart-count {
    position: absolute;
    top: -3px;
    right: -9px;
}

.count__elem-mobile, .count {
    width: 20px;
    height: 20px;
    padding: 0 1px;
    background: #e92727;
    font-family: OpenSans-Bold;
    font-size: .625rem;
    line-height: 19px;
    color: #fff;
    border-radius: 50%;
}



/* - - - - - - - - - - - - - content - - - - - - - - - - - -*/
.advantages {
    display: none;
}

.slider-wrap {
    display: none;
}

.services-banners {
    position: static;
    margin: 24px auto;
}

.services__banner {
    width: 100%;
    height: 72px;
    margin-bottom: 12px;
    line-height: 18px;
    padding-left: 89px;
    padding-right: 100px;
    padding-top: 18px;
}

.services__banner:last-of-type {
    margin-bottom: 0;
}

.services__banner_tires, .services__banner_wheels {
    background-size: 17.2%;
    background-position: 8.8% 50%;
}

.services__banner_sewing {
    background-size: 17.2%;
    background-position: 8.8% 38%;
}



/* - - - - - - - - - - - - - selection-tabs-upper-level - - - - - - - - - - - -*/
.selection-tabs__obj {
    width: 50%;
    padding: 17px 8px;
    text-align: left;
    line-height: 1.1875rem;
}

.selection-tabs__el img {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.selection-tabs-content-outer {
    padding: 45px 20px 40px;
    background: url(../images/selection-bg-2.jpg) 80% 100% no-repeat #2e3639;
}

.selection-tabs__type:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
}

.tires__scheme {
    display: none;
}

.selection-tabs-content-inner {
    padding-top: 5px;
}

.selection__form-wrap-params, .selection__form-wrap-auto {
    width: 100%;
}

.form__l-title {
    margin-top: 20px;
    margin-bottom: 7px;
}

.form__l_md, .selection__form-wrap-auto .form__l_md,
.form__l_sm {
    width: 100%;
}

.tire__params, .tire__params-profile .form__el {
    width: 60px;
}

.tire__params-width, .tire__params-profile {
    margin-right: 26px;
}

.tire__params-profile::after {
    right: -23px;
}

.tire__params-width::after {
    right: -31px;
}

.tire__params-profile .form__l-title {
    background: none;
}

.custom__select {
    background-position: right 10px center;
}

.season__type-btns {
    margin: 0;
}

.season__type-wrap {
    margin-top: 22px;
}

.season__type-wrap .season__type:last-child {
    margin-top: 22px;
}

.selection__popular {
    margin-left: 0;
    margin-bottom: 20px;
}

.selection__submit-btn-wrap {
    border-radius: 40px;
}

.selection__reset-btn-wrap {
    margin-left: 15px;
}

.selection__reset-btn {
    background-image: url("../images/reset-selection-mobile.png");
    padding-left: 20px;
}

.selection__reset-btn span {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: #fff;
}

.selection__submit-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 0.04rem;
}

.popular__list {
    margin-top: -6px;
    padding-right: 9px;
}









/* - - - - - - - - - - - - - catalog-wrap - - - - - - - - - - - -*/
.catalog {
    display: block;
}

.catalog__el {
    width: 100%;
    margin: 0;
    padding: 20px 23px 27px;
}

.catalog__el:hover .product__addition {
    display: none;
}

.product__price-before-discount {
    display: none;
}

.main_p_switcher_indent {
    margin-top: 33px;
    margin-left: 33px;
    margin-bottom: 20px;
}

.product__title {
    font-size: 0.875rem;
    color: #636363
}

.slick-slide {
    min-width: 280px!important;
}

.slick-track {
    min-width: 6000px;
}

.rightCatalogArrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
}

.leftCatalogArrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 100%;
    z-index: 10;
}

.leftCatalogArrow img, .rightCatalogArrow img {
    position: absolute;
    top: calc(50% - 9px);
}

.leftCatalogArrow img {
    left: 3px;
}

.rightCatalogArrow:hover, .leftCatalogArrow:hover {
    cursor: pointer;
}

.season_mark_summer::before,.season_mark_winter::before {
    top: 10px;
    right: 10px
}

.rating {
    margin-left: 5px;
}

.product__manufacturer {
    margin-right: 10px;
}

.product__title-wrap {
    margin-top: 10px;
    margin-bottom: 15px;
}

.product__title:last-of-type {
    font-size: 1rem;
    font-family: "OpenSans-Bold";
    color: #3798cb;
}

.product__price {
    width: 48%;
    padding-left: 5px;
}

.product__price-wrap {
    padding-right: 0;
}

.product__price-old {
    width: 52%;
}

.links__mobile {
    display: block;
}

.links__mobile a {
    margin-top: 35px;
}

.links a:not(:first-child) {
    margin-left: 36px;
    margin-right: 22px;
}



/* - - - - - - - - - - - - - articles-wrap - - - - - - - - - - - -*/
.action-banner {
    width: 100%;
    margin-right: 0;
}

.action-banner img {
    height: 312px;
}

.articles {
    width: 100%;
    padding-top: 46px;
}

.article {
    width: 100%;
    margin-top: -2px;
    line-height: 1.25rem;
    padding-right: 15px;
}

.article__title {
    margin-bottom: 6px;
}

.articles-wrap .article:not(:first-of-type) {
    display: none;
}


/* - - - - - - - - - - - - - last__visited - - - - - - - - - - - -*/
.last__visited-item {
    margin-right: 5px;
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
    margin-bottom: 45px;
}



/* - - - - - - - - - - - - - seo__text - - - - - - - - - - - -*/
.seo__text {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 14px;
}



/* - - - - - - - - - - - - - footer - - - - - - - - - - - -*/
.footer {
    margin-bottom: 47px;
}

.footer__payment, .footer__top, .copyright {
    display: none;
}

.footer__social {
    width: 100%;
}

.footer__social_title {
    text-align: center;
}

.footer__bottom {
    justify-content: center;
}

/* - - - - - - - - - - - - - user-panel - - - - - - - - - - - -*/
.user-panel {
    height: 47px;
}

.user-panel__btn-text, .user-panel__btn_total, .user-panel__btn_compare {
    display: none;
}

.user-panel__btn {
    padding: 14px 0 13px 25px
}

.user-panel__btn_cta {
    margin-top: 9px;
    margin-left: -7px;
}

.user-panel__btns .user-panel__btn {
    margin-right: 16px;
}

.user-panel__btns .user-panel__btn_favorite {
    margin-right: 42px;
    background-position: 10% 40%;
}

.user-panel__to-top {
    width: 50px;
    margin-right: -22px;
    background-position: 50% 43%;
}

}